* {
    -black: #000000;
    -white: #FFFFFF;
    -primary: #3e2723;
    -primary-dark: #1b0000;
    -primary-light: #6a4f4b;
    -secondary: #7cb342;
    -secondary-dark: #4b830d;
    -secondary-light: #aee571;
}



.biglabel{
    -fx-font-family: 'Roboto-Regular';
    -fx-font-size: 34px;
    -fx-text-fill: -black;
}

.biglabelWhite{
    -fx-font-family: 'Roboto-Regular';
    -fx-font-size: 34px;
    -fx-text-fill: -white;
}

.mediumlabel{
    -fx-font-family: 'Roboto-Regular';
    -fx-font-size: 18px;
    -fx-text-fill: -black;
}

.smalllabel{
    -fx-font-family: 'Roboto-Regular';
    -fx-font-size: 12px;
    -fx-text-fill: -black;
}

.main{
    -fx-background-color: -white;
    -fx-border-width: 1px;
}

.borderless{
    -fx-background-color: -white;
    -fx-border-width: 0;
}

.sidebutton{
    -fx-font-family: 'Roboto-Regular';
    -fx-border-radius: 0px;
    -fx-background-radius: 0px;
    -fx-font-size: 18px;
    -fx-text-fill: -black;
    -fx-background-color: #FFFFFF;
    -fx-border-width: 0 0 0 3px;
    -fx-border-color: -white;
}

.sidebutton:hover{
    -fx-border-radius: 0px;
    -fx-border-color: -secondary-dark;
    -fx-background-color: -secondary-light;
}

.sidebutton:selected{
    -fx-background-color: -secondary;
    -fx-border-color: -secondary-dark;
    -fx-text-fill: -white;
}

.to-payment-button{
    -fx-background-color: -secondary;
    -fx-border-radius: 0px;
    -fx-background-radius: 0px;
    -fx-font-size: 18px;
    -fx-font-family: 'Roboto-Regular';
    -fx-text-fill: -white;
}

.to-payment-button:hover{
    -fx-background-color: -secondary-light;
    -fx-text-fill: -black;
}

.to-payment-button:pressed{
    -fx-background-color: -secondary-dark;
    -fx-text-fill: -white;
}

.leftAnchorPane{
    -fx-background-color: -primary;
}

.lightestBlue{ -fx-background-color: #D0ECEF; }
.lightBlue{ -fx-background-color: #99E9F2; }
.darkerBlue{ -fx-background-color: #32A6A6; }
.lightOrange { -fx-background-color: #F2B705; }
.darkerOrange { -fx-background-color: #F28705; }
.darkOrange { -fx-background-color: #F27405; }
