.biglabel{
    -fx-font-family: 'Roboto-Regular';
    -fx-font-size: 34px;
    -fx-text-fill: #555555;
}

.mediumlabel{
    -fx-font-family: 'Roboto-Regular';
    -fx-font-size: 18px;
    -fx-text-fill: #555555;
}

.smalllabel{
    -fx-font-family: 'Roboto-Regular';
    -fx-font-size: 12px;
    -fx-text-fill: #555555;
}

.main{
    -fx-background-color: white;
}

.borderless{
    -fx-background-color: white;
    -fx-border-width: 0;
}

.sidebutton{
    -fx-font-family: 'Roboto-Regular';
    -fx-border-radius: 0px;
    -fx-font-size: 18px;
    -fx-text-fill: #555555;
    -fx-background-color: white;
    -fx-border-width: 0 0 0 3px;
    -fx-border-color: white;
}

.sidebutton:hover{
    -fx-border-radius: 0px;
    -fx-border-color: #555555;
    -fx-background-color: #99E9F2;
}

.sidebutton:selected{
    -fx-background-color: #32A6A6;
}
.lightBlue{ -fx-background-color: #99E9F2; }
.darkerBlue{ -fx-background-color: #32A6A6; }
.lightOrange { -fx-background-color: #F2B705; }
.darkerOrange { -fx-background-color: #F28705; }
.darkOrange { -fx-background-color: #F27405; }