.scroll-pane {
    -fx-border-width: 0 1 0 0;
    -fx-border-color: #99E9F2;
    -fx-padding: 0 0 0 0;

}

.scroll-pane .scroll-bar:vertical {
    -fx-background-color: #99E9F2;
    -fx-background-radius: 0;
}

.scroll-pane .scroll-bar:horizontal {
    -fx-background-color: #99E9F2;
    -fx-background-radius: 0;
}

.scroll-pane .scroll-bar:vertical .track{
    -fx-background-color: #99E9F2;
    -fx-border-color: #99E9F2;
    -fx-background-radius: 0em;
    -fx-border-radius: 2em;
}

.scroll-pane .scroll-bar:horizontal .decrement-button{
    -fx-background-color: #99E9F2;
    -fx-background-radius: 0em;
    -fx-padding: 0 0 10 0;
}

.scroll-pane .scroll-bar:vertical .decrement-button{
    -fx-background-color: #99E9F2;
    -fx-background-radius: 0em;
    -fx-padding: 0 0 10 0;
}

.scroll-pane .scroll-bar .increment-arrow,
.scroll-pane .scroll-bar .decrement-arrow{
    -fx-padding: -2;
    -fx-background-color: #99E9F2;
}

.scroll-pane .scroll-bar:vertical .thumb{
    -fx-background-color: #99E9F2;
    -fx-background-insets: 2,0,0;
    -fx-background-radius: 1em;
}

.scroll-pane:hover .scroll-bar .thumb{
    -fx-background-color: #555555;
}

.with-border{
    -fx-border-width: 1px;
    -fx-border-color: #cccccc;
}

