* {
    -black: #000000;
    -white: #FFFFFF;
    -primary: #3e2723;
    -primary-dark: #1b0000;
    -primary-light: #6a4f4b;
    -secondary: #7cb342;
}

.regular-label{
    -fx-font-family: "Roboto-Regular";
    -fx-text-fill: #000000;
    -fx-font-size: 36px;
}

.date-picker{
    -fx-font-size: 36px;
}


.scroll-pane {
    -fx-border-width: 0 1 0 0;
    -fx-border-color: transparent;
    -fx-padding: 0 0 0 0;
}

.scroll-pane .scroll-bar:vertical {
    -fx-background-color: #FFFFFF;   //ändra denna om man vill få bort den vita randen i scrollbar
    -fx-background-radius: 0;

}


.scroll-bar{
   -fx-background-color: #FFFFFF;
   -fx-background-radius: 2em;
   -fx-focus-color: #FFFFFF;
   -fx-faint-focus-color: #FFFFFF;
}


.scroll-pane .track{-fx-opacity: 0;}

.scroll-bar:horizontal .increment-button ,
.scroll-bar:horizontal .decrement-button {
    -fx-background-color :#FFFFFF;
    -fx-background-radius : 0.0em;
    -fx-padding :0.0 0.0 10.0 0.0;

}

.scroll-bar:vertical .track-background,
.scroll-bar:horizontal .track-background {
    -fx-opacity: 0;
   -fx-background-color: #FFFFFF;
   -fx-background-insets: 0;
   -fx-background-radius: 2em;
}

.scroll-bar:vertical .increment-button ,
.scroll-bar:vertical .decrement-button {
    -fx-background-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-padding :0.0 10.0 0.0 0.0;

}

.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow{
    -fx-shape : " ";
    -fx-padding :0.15em 0.0;
}

.scroll-bar:vertical .increment-arrow,
.scroll-bar:vertical .decrement-arrow{
    -fx-shape : " ";
    -fx-padding :0.0 0.15em;
}


.scroll-pane .scroll-bar:vertical .thumb{
    -fx-background-color: #FFFFFF;
    -fx-background-insets: 2,0,0;
    -fx-background-radius: 1em;
}

.scroll-pane:hover .scroll-bar .thumb{
    -fx-background-color: #555555;
}

.with-border{
    -fx-border-width: 0.5px;
    -fx-border-color: #757575;
}