* {
    -black: #000000;
    -white: #FFFFFF;
    -primary: #263238;
    -primary-dark: #000a12;
    -primary-light: #4f5b62;
    -secondary: #7cb342;
    -secondary-dark: #4b830d;
    -secondary-light: #aee571;
}

.cardbase{
    -fx-border-radius: 4px;
    -fx-background-radius: 4px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 2, 0, 0, 0);
}

.cardbase:hover{
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}


.rounded-borders{
    -fx-border-radius: 4px;
    -fx-background-radius: 4px;
}

.image{
    -fx-border-radius: 4px;
    -fx-background-radius: 4px;
    -fx-background: 4px;
}

.label1{
    -fx-font-family: "roboto";
    -fx-font-size: 18px;
}

.label2{
    -fx-font-family: "roboto";
    -fx-font-size: 14px;
}

.descFont{
    -fx-font-family: "roboto";
    -fx-font-size: 13px;
}

.cartButton{
    -fx-background-color: -secondary;
    -fx-background-radius: 4px;
    -fx-border-radius: 4px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 2, 0, 0, 0);
}

.cartButton:hover{
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 6, 0, 0, 0);
    -fx-background-color: -secondary-light;
}

.inputTextField{
    -fx-font-family: "roboto";
    -fx-font-size: 14px
}