.button1 {
    -fx-font-family: "Helvetica Neue";
    -fx-font-size: 18px;
    -fx-text-align: center;
    -fx-float: left;

    -fx-border: 1;
    -fx-border-color: transparent;

    -fx-background-color: transparent;
    -fx-text-fill: #FFFFFF;

    -fx-transition-duration: 0.4s;
}

.button1:hover{
    -fx-background-color: rgba(255,255,255, 0.4);
    -fx-border-color: rgba(255,255,255, 0.4);
}

.button1:selected{
    -fx-background-color: rgba(255,255,255, 0.4);
    -fx-border-color: rgba(255,255,255, 0.4);
}






